.pages-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: $none;
  transition: transform 1.2s, opacity 1.2s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transform: translate3d(0, 150px, 0);

  &.pages-nav--open {
    transform: translate3d(0, 0, 0);

    .pages-nav__item--social {
      opacity: 1;
      transition-delay: 0.35s;
      transform: translate3d(0, 0, 0);
    }
  }

  .pages-nav__item {
    width: 33%;
    padding: 0.4em 1%;
  }

  .pages-nav__item--social {
    width: 100%;
    opacity: 0;
    transition: transform 1.2s, opacity 1.2s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transform: translate3d(0, 20px, 0);
  }
}

.link {
  font-size: $fs-16;
  letter-spacing: $ls-1;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0;

  &.link--page {
    display: block;
    color: $nav-link;

    &.link--faded {
      font-size: $fs-13;
    }

    &:not(.link--faded)::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      width: 40px;
      height: 2px;
      margin: 5px 0 0 -20px;
      background: $nav-link-hover;
      transition: transform 0.3s;
      transform: scale3d(0, 1, 1);
    }

    &:hover:before {
      transform: scale3d(1, 1, 1);
    }
  }

  &.link--social {
    display: inline-flex;
    width: 3.5rem;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    margin-left: 0.75em;
    margin-right: 0.75em;
    border-radius: 50%;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.1),
      -0.1rem -0.1rem 0.3rem rgba(255, 255, 255, 0.5);
    > i {
      font-size: 30px;
    }

    &:hover {
      box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1),
        inset -0.1rem -0.1rem 0.1rem rgba(255, 255, 255, 0.1);
    }
  }

  &.link--faded {
    color: $nav-link-small;
    opacity: 0.3;
    &:hover,
    :focus {
      color: $nav-link-small;
      opacity: 1;
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: $nav-link-hover;
  }
}

@media screen and (max-width: 60em) {
  .pages-nav__item {
    width: 50%;
    min-height: 20px;
  }
  .link--page {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .link--social {
    margin: 0 0.1em;
  }
}

@media screen and (max-width: 40em) {
  .pages-nav {
    display: block;
    padding: 10px 20px 0 20px;
    text-align: left;
  }
  .pages-nav__item {
    width: 100%;
    padding: 4px 0;
  }
  .pages-nav__item--small {
    display: inline-block;
    width: auto;
    margin-right: 5px;
  }
  .pages-nav__item--social {
    font-size: 0.9em;
  }

  .link {
    font-size: $fs-12;
    letter-spacing: $ls-2;

    &.link--page {
      &.link--faded {
        font-size: $fs-10;
      }
    }

    &.link--social {
      // font-size: $fs-20;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 0;
      margin-right: 0.75em;
      > i {
        font-size: 15px;
      }
    }
  }
}
