$none: transparent;
$white: #ffffff;

/** App colors */
$page-background: #2a2b30;
$body-background: #1d1e21;
$text-color: #cecece;
$box-shadow: rgba(66, 152, 195, 0.3);
$menu-button: #5f656f;
$nav-link: #366194;
$nav-link-small: #4f4f64;
$nav-link-small-hover: $nav-link;
$nav-link-hover: rgb(212, 201, 201);
